@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #0B2447;
    --secondary-color: #19376D;
    --third-color: #576CBC;
    --fourth-color: #A5D7E8;
    --text-color: #efefef;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: #080808;
    cursor: url('../media/curser.png'), auto;
}

.required{
    color: #d20303;
}

#feedback-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(12, 55, 76, 0.4), rgba(118, 205, 225, 0.7)), url(../media/feedback-form.jpg) center no-repeat;
    background-size: cover;
    color: var(--text-color); 
}

.label{
    margin-top: 10px;
}

#feedback-form .title{
    margin-top: 100px;
    font-size: 2.8rem;
    font-weight: 700;
}

#feedback-form .feedback-container{
    font-size: 1.1rem;
    margin-bottom: 70px;
}

#feedback-form .feedback-container legend{
    text-align: center;
    padding: 10px 0;
    color: #d20303;
    text-shadow: 5px 4px 4px rgba(11, 36, 71, 1);
}

#feedback-form .feedback-container form{
    border: 4px solid var(--primary-color);
    border-radius: 30px;
    padding: 15px;
    width: 90vw;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background: linear-gradient(180deg, rgba(12, 55, 76, 0.4), rgba(15, 25, 58, 0.4));
    backdrop-filter: blur(3px);
}

#feedback-form .feedback-container form input:invalid {
    border: 2px solid red;
    }
    
#feedback-form .feedback-container form input:valid {
    border: 2px solid green;
    }

#feedback-form .feedback-container form input,
#feedback-form .feedback-container form textarea{
    min-width: 30%;
    border-radius: 30px;
    min-height: 25px;
    border: 3px solid var(--secondary-color);
    padding: 6px;
    transition: .3s;
}

#feedback-form .feedback-container form label:hover,
#feedback-form .feedback-container form textarea:hover,
#feedback-form .feedback-container form .external:hover,
#feedback-form .feedback-container form select:hover{
    transform: translateY(-3px);
}

#feedback-form .feedback-container form .external{
    margin-top: 30px;
    text-align: center !important;
}

#feedback-form .feedback-container form label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: .4s;
}

#feedback-form .feedback-container form .radio-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#feedback-form .feedback-container form .radio-rate-container label,
#feedback-form .feedback-container form .textarea-container{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

#feedback-form .feedback-container form .radio-rate-container{
    text-align: center;
}

#feedback-form .feedback-container form .radio-rate-container label input{
    width: 15px;
}

#feedback-form .feedback-container select{
    max-width: 30%;
    border-radius: 30px;
    min-height: 25px;
    border: 3px solid var(--secondary-color);
    padding: 6px 10px;
    min-width: 200px;
    transition: .3s;
}

#feedback-form .feedback-container form .send-btn{
    border-radius: 25px;
    font-size: 1.1rem;
    padding: 10px;
    margin-top: 50px;
    min-width: 120px;
    min-height: 60px;
    transition: .5s;
    background: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid var(--fourth-color) !important;
}

#feedback-form .feedback-container form{
    text-decoration: none;
}

#feedback-form .feedback-container form .send-btn:hover{
    transform: translateY(-6px);
    background: var(--fourth-color);
    color: #080808;
    border: 2px solid var(--primary-color) !important;
}

#feedback-form .feedback-container #preview-data{
    margin-top: 20px;
    padding: 10px;
    border: 3px solid var(--primary-color);
    border-radius: 25px;
    font-size: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}

#feedback-form .feedback-container #preview-data .preview-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#feedback-form .feedback-container #preview-data .preview-item .preview-key{
    text-transform: uppercase;
}

/* Small Screens */
@media only screen and (max-width: 990px){

    #feedback-form .title{
        font-size: 1.8rem;
    }

    #feedback-form .feedback-container form{
        font-size: 0.7rem;
    }

    #feedback-form .feedback-container form input,
    #feedback-form .feedback-container form textarea{
        max-width: 30%;
    }
}
