@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #0B2447;
    --secondary-color: #19376D;
    --third-color: #576CBC;
    --fourth-color: #A5D7E8;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #080808;
}

header {
    background: #fff;
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.logo {
    width: 40px;
    transition: .5s;
}


/* Nav bar */

.nav-container{
    padding: 8px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(11, 36, 71, 0.8);
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid var(--fourth-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    transition: .5s;
}

nav ul li a{
    text-decoration: none;
    color: #efefef;
    font-size: 12px;
    position: relative;
    border-radius: 30px;
    padding: 5px;
    transition: .5s;
}

header ul li:hover,
.logo:hover{
    transform: translateY(-4px);
}

header ul li a:hover, 
header ul li a.active {
    background: var(--fourth-color);
    color: var(--primary-color);
}

nav .nav-icon{
    display: none;
}


/* Hero section */

#hero{
    height: 100vh;
    padding-top: 70px;
    background: linear-gradient(160deg, 
        rgba(11, 36, 71, 0.7), 
        rgba(87, 108, 188, 0.5), 
        rgba(165, 215, 232, 0.4), 
        rgba(87, 108, 188, 0.5), 
        rgba(11, 36, 71, 0.7)), url(../media/hero.jpg);
    background-size: cover ;
    color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: justify;
    align-items: center;
}

.hero-btn{
    font-weight: 500;
    padding: 10px;
    border-radius: 30px;
    margin-top: 15px;
    border: 2px solid var(--primary-color);
    background: var(--fourth-color);
    color: var(--primary-color);
    transition: all .5s;
}

.hero-btn:hover{
    transform: translateY(-4px);
    background: var(--secondary-color);
    color: var(--fourth-color);
}


@media only screen and (max-width: 730px){
    nav .nav-icon{
        display: block;
        font-size: 25px;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        background: var(--primary-color);
        width: 200px;
        height: 300vh;
        padding-top: 50px;
    }
}

