@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #0B2447;
    --secondary-color: #19376D;
    --third-color: #576CBC;
    --fourth-color: #A5D7E8;
    --text-color: #efefef;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: #080808;
    cursor: url('../media/curser.png'), auto;
}

/*

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url('../media/curser.png');
    background-size: cover;
    pointer-events: none;
    z-index: 1000 !important;
}

*/

header {
    background: #fff;
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    /* background-image: url(); */
    background-size: cover;
    background-position: center;
}

.logo {
    width: 40px;
    transition: .5s;
}


/* Nav bar */

.nav-container{
    padding: 8px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(11, 36, 71, 0.8);
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid var(--fourth-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul,
footer ul{
    transition: .5s;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

nav ul li,
footer ul li{
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    transition: .5s;
}

nav ul li a,
footer ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    position: relative;
    border-radius: 30px;
    padding: 5px;
    transition: .5s;
}

header ul li:hover,
.logo:hover,
footer ul li:hover{
    transform: translateY(-4px);
}

header ul li a:hover,
footer ul li a:hover,
footer ul li a:active, 
header ul li a.active {
    background: var(--fourth-color);
    color: var(--primary-color);
}

.nav-icon{
    transition: .3s;
}

nav .nav-icon{
    display: none;
}

.nav-icon:hover{
    color: var(--fourth-color);
    scale: 1.11;
}


/* Hero section */

/* linear-gradient(160deg, 
        rgba(165, 215, 232, 0.9), 
        rgba(87, 108, 188, 0.8),  
        rgba(165, 215, 232, 0.9))
*/

#hero{
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
    background: linear-gradient(160deg, 
        rgba(87, 108, 188, 0.8),   
        rgba(165, 215, 232, 0.7)), 
        url(../media/hero.jpg);
    background-size: cover ;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero-btn{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    border-radius: 30px;
    margin-top: 15px;
    border: 1px solid var(--primary-color);
    background: var(--fourth-color);
    color: var(--primary-color);
    transition: all .5s;
}

@keyframes slide-up-down{
    0%, 100% {
        transform: translateY(0); /* Start and end position */
    }
    50% {
        transform: translateY(-10px); /* Middle position */
    }
}

.hero-btn:hover{
    transform: translateY(-6px);
    scale: 1.11;
    background: var(--secondary-color);
    color: var(--fourth-color);
}

.btn-holder{
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-arrow-down{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 12px;
    animation: slide-up-down ease-in-out infinite 2.5s;
}

.title{
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    transition: .4s;
    
}

.title:hover{
    text-shadow: 12px 10px 10px rgba(11, 36, 71, 0.9);
    transform: translateY(-3px);
}

.subtitle{
    font-size: 1.2rem;
}

#typewriter{
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.3rem;
    padding: 10px;
    width: auto; 
    height: 50px;
}

/* mission */
#about{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(160deg, rgba(190, 213, 225, 0.85), rgba(149, 208, 226, 0.2)), url(../media/about.jpg);
    background-size: cover ;
    box-shadow:  0 20px 60px inset rgba(11, 36, 71, 0.9),
    20px 10px 60px inset rgba(255, 255, 255, 0.9);
}

#about .title{
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--text-color);
    line-height: 1.1;
}

#about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0 35px;
}

.mission-img{
    min-width: 25vw;
    min-height: 50vh;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(rgba(179, 214, 220, 0.1), rgba(179, 214, 220, 0.1)), url(../media/about-img.jpg) center no-repeat;
    background-size: cover;
    box-shadow:  10px 10px 20px #4a4a4a;
    transition: .5s;
    
}

#about .container img{
    height: 50vh;
}

.mission-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center justify;
    min-width: 40vw;
    width: auto;
    min-height: 50vh;
    height: auto;
    max-height: 80vh;
    font-size: 1rem;
    padding: 30px;
    margin-left: 30px;
    border-radius: 48px;
    background: rgba(203, 219, 222, 0.8);
    transition: .5s;
    font-weight: 500;
    overflow: auto;
    box-shadow:  15px 15px 30px #4a4a4a;
}

.mission-img:hover,
.mission-content:hover{
    scale: 1.01;
}


/* all-content gallery shop*/
#all-content{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(12, 55, 76, 0.4), rgba(118, 205, 225, 0.4)), url(../media/explore.jpg) center no-repeat;
    color: var(--text-color);
    box-shadow:  0 20px 60px inset rgba(11, 36, 71, 0.9),
    20px 10px 60px inset rgba(81, 81, 81, 0.6);
}

#all-content .title{
    padding-top: 30px;
    padding-bottom: 10px;
}

#gallery,
#shop{
    height: 50vh;
    background: #000;
}

#all-content label{
    backdrop-filter: blur(2px);
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#all-content .container{
    width: auto;
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card{
    height: auto;
    width: 5vw;
    border-radius: 2rem;
    background-size: cover;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 60%;
    width: auto;
}

.card > .row > .icon{
    height: 60px;
    width: auto;
    min-width: 60px;
    background: #223;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 2px solid var(--third-color);
}

.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 60%;
    min-width: auto;
    max-width: 30vw;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    backdrop-filter: blur(.5px);
}

.discover{
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-width: 50%;
    border-radius: 25px;
    border: 2px solid var(--fourth-color);
    transition: .5s;
    background: rgba(8, 16, 158, 0.4);
    backdrop-filter: blur(5px);
    scale: 0.9;
}

.discover:hover{
    background: rgba(84, 178, 222, 0.6);
    border: 2px solid var(--secondary-color);
    scale: 1;
}

.description p{
    width: auto;
    overflow: auto;
    color: var(--text-color);
    padding-top: 5px;
}

.description h4{
    text-transform: uppercase;
}

#all-content .container input{
    display: none;
}

#all-content .container input:checked + label{
    width: 40vw;
}

#all-content .container input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background: linear-gradient(30deg, rgba(12, 55, 76, 0.3), rgba(118, 205, 225, 0.3)), url(../media/c1.jpg) center no-repeat;
    background-size: cover;
}

.card[for="c2"] {
    background: linear-gradient(30deg, rgba(12, 55, 76, 0.3), rgba(118, 205, 225, 0.3)), url(../media/c2.jpg) center no-repeat;
    background-size: cover;
}

.card[for="c3"] {
    background: linear-gradient(30deg, rgba(12, 55, 76, 0.4), rgba(118, 205, 225, 0.3)), url(../media/c3.jpg) center no-repeat;
    background-size: cover;
}

.card[for="c4"] {
    background: linear-gradient(30deg, rgba(12, 55, 76, 0.3), rgba(118, 205, 225, 0.3)), url(../media/c4.jpg) center no-repeat;
    background-size: cover;
}

/* FeedBack */

#feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background: linear-gradient(180deg, rgba(12, 55, 76, 0.4), rgba(118, 205, 225, 0.4)), url(../media/feedback.jpg) center no-repeat;
    color: var(--text-color);    
}

#feedback .title{
    top: 10px;
    padding-top: 10px;
}

#feedback .subtitle{
    width: 90vw;
    text-align: justify center;
    align-items: center;
}

#feedback .subtitle p{
    text-align: justify center;
    font-size: 1rem;
}

.feedback-btn{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid var(--secondary-color);
    background: rgba(8, 16, 158, 0.3);
    backdrop-filter: blur(10px);
    transition: .5s;
}

.feedback-btn:hover{
    background: rgba(26, 156, 199, 0.5);
    transform: translateY(-3px);
}

.move-right{
    padding: 3px;
    transition: .5s;
}

.content:hover + .move-right{
    transform: translateX(10px);
}

/* Footer */
footer{
    height: 60vh;
    color: #000;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(164, 180, 188, 0.85), rgba(108, 117, 119, 0.4)), url(../media/footer1.jpg) center no-repeat;    
    background-size: cover;
    box-shadow:  20px 20px 40px inset rgba(1, 24, 34, 0.9);
}

footer .footer-content{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-content .information{
    color: var(--text-color);
    text-align: center justify;
    max-height: 50vh;
    height: auto;
    margin: 5%;
    max-width: 50%;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    background: rgba(12, 19, 69, 0.5);
    border-radius: 60px;
    padding: 10px 20px;
    box-shadow:  15px 15px 30px #353535;
    transition: .4s;
}

footer .footer-content .information:hover{
    scale: 1.01;
}

/* Small Screens */
@media only screen and (max-width: 990px){

    .title{
        font-size: 1.4rem;
    }

    #typewriter{
        font-size: 1.1rem;
    }

    nav .nav-icon, 
    .nav-icon{
        display: block;
        font-size: 1.6rem;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: -200px;
        background: var(--primary-color);
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
        border: 2px solid var(--third-color);
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav .nav-icon{
        display: block;
        color: var(--text-color);
    }

    nav ul .nav-icon{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .nav-icon{
        cursor: pointer;
    }

    footer .footer-content .information,
    .mission-content{
        padding: 15px 10px;
        margin: 5%;
        
    }

    .mission-content p{
        white-space: wrap;
        overflow: auto;
    }

    .mission-content p{
        white-space: wrap;
        overflow: auto;
    }

}

/* end */
