@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #0B2447;
    --secondary-color: #19376D;
    --third-color: #576CBC;
    --fourth-color: #A5D7E8;
    --text-color: #efefef;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    cursor: url('../media/curser.png'),auto;
}

/*

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url('../media/curser.png');
    background-size: cover;
    pointer-events: none;
    z-index: 1000 !important;
}

*/

header {
    background: #fff;
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    /* background-image: url(); */
    background-size: cover;
    background-position: center;
}

.logo {
    width: 40px;
    transition: .5s;
}


/* Nav bar */

.nav-container{
    padding: 8px 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(11, 36, 71, 0.8);
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid var(--fourth-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul{
    transition: .5s;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

nav ul li{
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    transition: .5s;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    position: relative;
    border-radius: 30px;
    padding: 5px;
    transition: .5s;
}

header ul li:hover,
.logo:hover{
    transform: translateY(-4px);
}

header ul li a:hover, 
header ul li a.active {
    background: var(--fourth-color);
    color: var(--primary-color);
}

.nav-icon{
    transition: .3s;
}

nav .nav-icon{
    display: none;
}

.nav-icon:hover{
    color: var(--fourth-color);
    scale: 1.11;
}


/* Hero section */

/* linear-gradient(160deg, 
        rgba(165, 215, 232, 0.9), 
        rgba(87, 108, 188, 0.8),  
        rgba(165, 215, 232, 0.9))
*/

#hero{
    height: 100vh;
    padding-top: 70px;
    background: linear-gradient(160deg, 
        rgba(87, 108, 188, 0.8),   
        rgba(165, 215, 232, 0.7)), 
        url(../media/hero.jpg);
    background-size: cover ;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title{
    text-align: center;
    align-items: center;
    padding-bottom: 5px;
}

#typewriter{
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.hero-btn{
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    border-radius: 30px;
    margin-top: 15px;
    border: 1px solid var(--primary-color);
    background: var(--fourth-color);
    color: var(--primary-color);
    transition: all .5s;
}

@keyframes slide-up-down{
    0%, 100% {
        transform: translateY(0); /* Start and end position */
    }
    50% {
        transform: translateY(-10px); /* Middle position */
    }
}

.hero-btn:hover{
    transform: translateY(-6px);
    scale: 1.11;
    background: var(--secondary-color);
    color: var(--fourth-color);
}

.btn-holder{
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-arrow-down{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 12px;
    animation: slide-up-down ease-in-out infinite 2.5s;
}

.title{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.subtitle{
    font-size: 1.2rem;
}

#typewriter {
    font-size: 1.5rem;
    padding: 10px;
    width: auto; 
    height: 50px;
}


/* about */
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(160deg, 
        rgba(150, 212, 245, 0.65),
        rgba(165, 215, 232, 0.2)), 
        url(../media/about.jpg);
    background-size: cover ;
}

#about .title{
    color: var(--text-color);
    line-height: 1.1;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0 30px;
}

.mission-img{
    min-width: 25vw;
    min-height: 50vh;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    background: linear-gradient(rgba(179, 214, 220, 0.1), rgba(179, 214, 220, 0.1)), url(../media/about-img.jpg) center no-repeat;
    background-size: cover;
    box-shadow:  25px 25px 53px #4a4a4a;
}

.container img{
    height: 50vh;
}

.mission-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    min-width: 40vw;
    max-width: auto;
    min-height: 50vh;
    height: auto;
    max-height: 80vh;
    padding: 30px;
    margin-left: 30px;
    border-radius: 48px;
    background: rgba(203, 219, 222, 0.8);
    box-shadow:  25px 25px 53px #4a4a4a;
    overflow: auto;
}


@media only screen and (max-width: 990px){

    nav .nav-icon, 
    .nav-icon{
        display: block;
        font-size: 1.6rem;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: -200px;
        background: var(--primary-color);
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
        border: 2px solid var(--third-color);
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav .nav-icon{
        display: block;
        color: var(--text-color);
    }

    nav ul .nav-icon{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .nav-icon{
        cursor: pointer;
    }

}

